/*
* PHLY - Versatile Coming Soon Template
* Build Date: October 2015
* Author: Madeon08
* Copyright (C) 2015 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/
/*  TABLE OF CONTENTS
    ---------------------------
    *. @Import & Reset
    1. Generic styles
    2. Home
    3. More Informations
    4. Newsletter
    5. Contact
    6. Social Icons
    7. Footer/Copyright
    8. Media Queries
*/
/* ------------------------------------- */
/* *. @Import & Reset .................. */
/* ------------------------------------- */
/* http://bourbon.io/ Sass Mixin Library */
/* custom CSS files */
@import url(font-awesome.min.css);
@import url(ionicons.min.css);
@import url(bootstrap.min.css);
@import url(animate.css);
@import url(photoswipe.css);
@import url(default-skin/default-skin.css);
@import url(jquery.mCustomScrollbar.css);
@import url(vegas.css);
/* Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
/*
* http://meyerweb.com/eric/tools/css/reset/ 
* v2.0 | 20110126
* License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------- */
/* Preloader styles .................... */
/* ------------------------------------- */
#loading {
  width: 100vw;
  height: 100vh;
  background: #20232D;
  position: fixed;
  z-index: 999;
}
#loading #preloader {
  position: relative;
  width: 100%;
  height: 80px;
  top: calc(50% - 50px);
  text-align: center;
  margin: 0 auto;
}
#loading #preloader:after {
  content: "HOŞGELDİNİZ...";
  /* Text under the circles */
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #4d515f;
  letter-spacing: 1px;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  top: 90px;
  width: 100%;
  left: 0;
  right: 0;
  height: 1px;
  text-align: center;
}
#loading #preloader span {
  position: absolute;
  border: 8px solid #00c8aa;
  border-top: 8px solid transparent;
  border-radius: 999px;
}
#loading #preloader span:nth-child(1) {
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  -webkit-animation: spin-1 1s infinite ease;
  -moz-animation: spin-1 1s infinite ease;
  animation: spin-1 1s infinite ease;
}
#loading #preloader span:nth-child(2) {
  top: 20px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  -webkit-animation: spin-2 1s infinite ease;
  -moz-animation: spin-2 1s infinite ease;
  animation: spin-2 1s infinite ease;
}

@-webkit-keyframes spin-1 {
  0% {
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
}
@-moz-keyframes spin-1 {
  0% {
    -moz-transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    -moz-transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    -moz-transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes spin-1 {
  0% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes spin-2 {
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 0.5;
  }
}
@-moz-keyframes spin-2 {
  0% {
    -moz-transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    -moz-transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes spin-2 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0.5;
  }
}
/* ------------------------------------- */
/* 1. Generic styles ................... */
/* ------------------------------------- */
body {
  background: #20232D;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5em;
  position: absolute;
  height: 100%;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

body, input, select, textarea {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

a {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  color: #00af94;
  text-decoration: none !important;
  outline: none !important;
}
a:active, a:focus {
  outline: none !important;
  text-decoration: none !important;
  color: #FFFFFF;
}

button {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
}
button:hover, button:active, button:focus {
  outline: none !important;
  text-decoration: none !important;
  color: #2B2D35;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  margin: 0;
  font-size: 1em;
  line-height: 1.6em;
  color: #FFFFFF;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.3em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: inherit;
}

h1 {
  font-size: 40px;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

h4 {
  font-size: 25px;
  margin-bottom: 25px;
}

h5 {
  font-size: 20px;
  margin-bottom: 25px;
}

h6 {
  font-size: 15px;
  margin-bottom: 25px;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

.clear {
  clear: both;
}

.display-none {
  display: none !important;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.opacity-0 {
  opacity: 0 !important;
  visibility: hidden !important;
}

.opacity-03 {
  opacity: 0.3 !important;
}

.opacity-1 {
  opacity: 1 !important;
  visibility: visible !important;
}

.index-999 {
  z-index: -999 !important;
}

/* ------------------------------------- */
/* 2. Home ............................. */
/* ------------------------------------- */
.light-btn {
  background: transparent;
  font-weight: 600;
  padding: 0.7em 2em;
  color: #FFFFFF;
  margin-right: 10px;
  border: 2px solid #FFFFFF;
  display: block;
  float: left;
}
.light-btn:hover {
  background: #FFFFFF;
  color: #2B2D35;
  border-color: #FFFFFF;
}

.action-btn {
  background: #00c8aa;
  font-weight: 600;
  padding: 0.7em 2em;
  color: #FFFFFF;
  border: 2px solid #00c8aa;
  display: block;
  float: left;
}
.action-btn:hover {
  background: #FFFFFF;
  color: #2B2D35;
  border-color: #FFFFFF;
}

.global-overlay {
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100%;
  overflow: visible;
  width: 100%;
  opacity: 0;
}

.overlay {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: -50%;
  background: rgba(32, 35, 45, 0.8);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  border-right: 1px solid #15171e;
}
.overlay.skew-part {
  -webkit-transform: skew(-25deg, 0deg);
  -moz-transform: skew(-25deg, 0deg);
  -ms-transform: skew(-25deg, 0deg);
  -o-transform: skew(-25deg, 0deg);
  transform: skew(-25deg, 0deg);
}

#stars {
  width: 1px;
  height: 1px;
  margin-left: 25%;
  background: transparent;
  box-shadow: 1024px 2186px #FFF , 1594px 731px #FFF , 307px 989px #FFF , 39px 2174px #FFF , 218px 1294px #FFF , 1140px 689px #FFF , 2297px 83px #FFF , 1199px 1096px #FFF , 1551px 1135px #FFF , 834px 1137px #FFF , 1070px 1367px #FFF , 136px 1315px #FFF , 2197px 851px #FFF , 1875px 951px #FFF , 611px 814px #FFF , 1089px 274px #FFF , 406px 664px #FFF , 88px 927px #FFF , 371px 2404px #FFF , 1004px 1441px #FFF , 2279px 1579px #FFF , 507px 648px #FFF , 1505px 1026px #FFF , 1792px 1918px #FFF , 1960px 293px #FFF , 794px 1724px #FFF , 1745px 17px #FFF , 1848px 126px #FFF , 2443px 990px #FFF , 2194px 2442px #FFF , 2483px 822px #FFF , 1989px 1710px #FFF , 379px 2345px #FFF , 102px 2450px #FFF , 342px 2177px #FFF , 333px 2083px #FFF , 1578px 1012px #FFF , 1879px 2357px #FFF , 2287px 1437px #FFF , 2483px 1047px #FFF , 422px 455px #FFF , 447px 50px #FFF , 151px 61px #FFF , 1663px 2040px #FFF , 567px 494px #FFF , 179px 739px #FFF , 809px 975px #FFF , 972px 1653px #FFF , 2120px 1259px #FFF , 1024px 2475px #FFF , 69px 1096px #FFF , 1757px 1759px #FFF , 2267px 1081px #FFF , 456px 1192px #FFF , 1663px 582px #FFF , 755px 784px #FFF , 733px 933px #FFF , 437px 601px #FFF , 1935px 3px #FFF , 2499px 433px #FFF , 1850px 890px #FFF , 797px 1557px #FFF , 352px 2025px #FFF , 1390px 57px #FFF , 1051px 1512px #FFF , 2359px 1549px #FFF , 395px 30px #FFF , 2276px 140px #FFF , 1263px 652px #FFF , 2039px 886px #FFF , 2494px 710px #FFF , 1397px 60px #FFF , 1421px 793px #FFF , 2065px 590px #FFF , 671px 1573px #FFF , 931px 2328px #FFF , 2263px 2130px #FFF , 1218px 819px #FFF , 2265px 1816px #FFF , 994px 103px #FFF , 129px 1184px #FFF , 1342px 1197px #FFF , 52px 67px #FFF , 1617px 1645px #FFF , 2175px 1949px #FFF , 1400px 1325px #FFF , 1098px 340px #FFF , 2401px 2078px #FFF , 1354px 2349px #FFF , 1917px 739px #FFF , 2498px 883px #FFF , 2240px 2415px #FFF , 524px 1070px #FFF , 2269px 953px #FFF , 368px 1357px #FFF , 1557px 1638px #FFF , 953px 1134px #FFF , 1398px 1751px #FFF , 984px 1215px #FFF , 1858px 73px #FFF , 1863px 498px #FFF , 663px 614px #FFF , 443px 67px #FFF , 2059px 1397px #FFF , 886px 1107px #FFF , 2288px 560px #FFF , 1359px 752px #FFF , 1343px 503px #FFF , 1700px 422px #FFF , 1738px 1910px #FFF , 136px 1942px #FFF , 1903px 1592px #FFF , 418px 2382px #FFF , 2416px 2374px #FFF , 2262px 991px #FFF , 809px 1929px #FFF , 624px 1453px #FFF , 1833px 2318px #FFF , 962px 2013px #FFF , 1506px 2305px #FFF , 2170px 2169px #FFF , 1248px 2262px #FFF , 1769px 720px #FFF , 1600px 1261px #FFF , 2423px 459px #FFF , 1837px 1128px #FFF , 302px 1805px #FFF , 2218px 480px #FFF , 1487px 947px #FFF , 877px 2176px #FFF , 99px 2198px #FFF , 183px 1594px #FFF , 1528px 921px #FFF , 1045px 171px #FFF , 2436px 270px #FFF , 472px 1118px #FFF , 554px 316px #FFF , 163px 2484px #FFF , 2315px 2385px #FFF , 748px 1324px #FFF , 1007px 1342px #FFF , 1598px 1669px #FFF , 2372px 1446px #FFF , 1305px 763px #FFF , 941px 968px #FFF , 756px 257px #FFF , 2239px 1234px #FFF , 439px 1397px #FFF , 2451px 1211px #FFF , 2112px 1249px #FFF , 2343px 1639px #FFF , 27px 29px #FFF , 1155px 289px #FFF , 320px 616px #FFF , 473px 400px #FFF , 1614px 874px #FFF , 654px 1251px #FFF , 531px 2486px #FFF , 1999px 652px #FFF , 185px 157px #FFF , 520px 877px #FFF , 2484px 15px #FFF , 1824px 1662px #FFF , 57px 1489px #FFF , 950px 518px #FFF , 1607px 1783px #FFF , 1277px 830px #FFF , 1791px 2157px #FFF , 2094px 465px #FFF , 878px 1717px #FFF , 1389px 775px #FFF , 867px 2062px #FFF , 1133px 1079px #FFF , 1703px 752px #FFF , 1923px 2016px #FFF , 2056px 1067px #FFF , 2417px 1221px #FFF , 1298px 1512px #FFF , 370px 855px #FFF , 2009px 226px #FFF , 2179px 782px #FFF , 1765px 1385px #FFF , 574px 2262px #FFF , 2033px 8px #FFF , 1790px 730px #FFF , 77px 268px #FFF , 213px 2299px #FFF , 2302px 45px #FFF , 980px 276px #FFF , 310px 1170px #FFF , 1233px 1578px #FFF , 1016px 1052px #FFF , 1864px 2373px #FFF , 1232px 244px #FFF , 2256px 2268px #FFF , 682px 1646px #FFF , 812px 1720px #FFF , 1610px 320px #FFF , 1143px 1758px #FFF , 759px 1243px #FFF , 2484px 362px #FFF , 1228px 94px #FFF , 807px 854px #FFF , 1988px 1926px #FFF , 1687px 314px #FFF , 1129px 609px #FFF , 2454px 1649px #FFF , 2455px 2113px #FFF , 78px 1341px #FFF , 1966px 1057px #FFF , 844px 2300px #FFF , 703px 1722px #FFF , 651px 2267px #FFF , 624px 1989px #FFF , 1657px 1235px #FFF , 1675px 2419px #FFF , 2110px 1721px #FFF , 240px 1142px #FFF , 1811px 709px #FFF , 504px 1983px #FFF , 144px 2161px #FFF , 604px 1747px #FFF , 1582px 234px #FFF , 2366px 595px #FFF , 2337px 2352px #FFF , 1316px 881px #FFF , 244px 2428px #FFF , 2431px 411px #FFF , 877px 2428px #FFF , 1668px 1560px #FFF , 1472px 142px #FFF , 851px 1366px #FFF , 485px 818px #FFF , 216px 756px #FFF , 597px 722px #FFF , 2476px 840px #FFF , 1530px 746px #FFF , 2465px 1028px #FFF , 1214px 247px #FFF , 305px 570px #FFF , 1079px 2385px #FFF , 2340px 150px #FFF , 2278px 1190px #FFF , 936px 1910px #FFF , 83px 1964px #FFF , 1387px 1977px #FFF , 668px 1508px #FFF , 560px 1695px #FFF , 1615px 1106px #FFF , 1715px 2070px #FFF , 676px 654px #FFF , 2014px 894px #FFF , 1739px 1310px #FFF , 1547px 789px #FFF , 2070px 1725px #FFF , 492px 1317px #FFF , 970px 1957px #FFF , 2248px 2132px #FFF , 1169px 227px #FFF , 2140px 420px #FFF , 1101px 2186px #FFF , 534px 348px #FFF , 1834px 1446px #FFF , 11px 2043px #FFF , 403px 137px #FFF , 2043px 291px #FFF , 1475px 1744px #FFF , 700px 1247px #FFF , 2132px 2245px #FFF , 1556px 665px #FFF , 1285px 471px #FFF , 2462px 1186px #FFF , 320px 207px #FFF , 1021px 1919px #FFF , 808px 1878px #FFF , 1922px 2204px #FFF , 1966px 698px #FFF , 312px 2145px #FFF , 1990px 251px #FFF , 2404px 51px #FFF , 406px 748px #FFF , 2253px 1459px #FFF , 1506px 348px #FFF , 1655px 882px #FFF , 1287px 684px #FFF , 407px 2174px #FFF , 2125px 145px #FFF , 2124px 910px #FFF , 204px 2227px #FFF , 2214px 1423px #FFF , 1032px 2272px #FFF , 713px 2091px #FFF , 400px 739px #FFF , 238px 719px #FFF , 2290px 1816px #FFF , 892px 2052px #FFF , 1697px 2296px #FFF , 1792px 207px #FFF , 2378px 1835px #FFF , 1339px 2094px #FFF , 973px 1138px #FFF , 1726px 1827px #FFF , 540px 1081px #FFF , 458px 1359px #FFF , 351px 2023px #FFF , 1479px 1126px #FFF , 659px 1786px #FFF , 2116px 860px #FFF , 231px 1690px #FFF , 133px 2332px #FFF , 460px 2267px #FFF , 2474px 129px #FFF , 2136px 407px #FFF , 964px 2230px #FFF , 181px 1580px #FFF , 2009px 552px #FFF , 1472px 2370px #FFF , 2277px 1961px #FFF , 860px 468px #FFF , 137px 2308px #FFF , 2442px 2326px #FFF , 1304px 2188px #FFF , 1607px 409px #FFF , 1781px 991px #FFF , 2051px 1276px #FFF , 746px 1303px #FFF , 668px 905px #FFF , 938px 1458px #FFF , 510px 1733px #FFF , 1785px 256px #FFF , 732px 775px #FFF , 497px 1993px #FFF , 1956px 218px #FFF , 1622px 1593px #FFF , 616px 1847px #FFF , 2287px 88px #FFF , 331px 1815px #FFF , 1844px 269px #FFF , 139px 357px #FFF , 2351px 1725px #FFF , 885px 2048px #FFF , 739px 460px #FFF , 2329px 1072px #FFF , 2351px 2107px #FFF , 675px 1955px #FFF , 679px 1935px #FFF , 1386px 579px #FFF , 639px 2400px #FFF , 902px 2207px #FFF , 804px 2372px #FFF , 1755px 2397px #FFF , 2411px 92px #FFF , 1419px 1520px #FFF , 1153px 975px #FFF , 234px 1871px #FFF , 1583px 589px #FFF , 1171px 714px #FFF , 884px 1011px #FFF , 56px 1880px #FFF , 771px 2413px #FFF , 478px 1248px #FFF , 2086px 1595px #FFF , 1089px 2008px #FFF , 1812px 2177px #FFF , 1289px 1196px #FFF , 1235px 937px #FFF , 1674px 74px #FFF , 1973px 693px #FFF , 1835px 1149px #FFF , 589px 1783px #FFF , 2248px 1738px #FFF , 2169px 264px #FFF , 1226px 2341px #FFF , 734px 671px #FFF , 366px 215px #FFF , 302px 801px #FFF , 466px 738px #FFF , 1819px 575px #FFF , 2393px 2262px #FFF , 1598px 2137px #FFF , 1284px 2145px #FFF , 2196px 929px #FFF , 2072px 1030px #FFF , 2161px 1476px #FFF , 428px 1430px #FFF , 1989px 1576px #FFF , 672px 2233px #FFF , 116px 1132px #FFF , 1799px 2060px #FFF , 969px 1747px #FFF , 1929px 129px #FFF , 1526px 703px #FFF , 1862px 457px #FFF , 1785px 551px #FFF , 2362px 846px #FFF , 294px 1878px #FFF , 2260px 698px #FFF , 1841px 1178px #FFF , 1734px 121px #FFF , 467px 395px #FFF , 1996px 1658px #FFF , 1044px 1650px #FFF , 638px 1156px #FFF , 1797px 2445px #FFF , 919px 2098px #FFF , 1965px 560px #FFF , 2073px 2422px #FFF , 1211px 1417px #FFF , 884px 2046px #FFF , 666px 651px #FFF , 954px 653px #FFF , 2241px 175px #FFF , 984px 2314px #FFF , 1595px 1235px #FFF , 947px 1627px #FFF , 831px 2007px #FFF , 561px 628px #FFF , 2423px 2004px #FFF , 1472px 871px #FFF , 765px 34px #FFF , 657px 2279px #FFF , 1759px 1688px #FFF , 1140px 1575px #FFF , 1520px 1562px #FFF , 1966px 845px #FFF , 955px 2021px #FFF , 1212px 2479px #FFF , 2091px 2350px #FFF , 2438px 1478px #FFF , 1655px 368px #FFF , 2281px 2481px #FFF , 2356px 1742px #FFF , 832px 1860px #FFF , 1402px 268px #FFF , 311px 214px #FFF , 2056px 1736px #FFF , 1447px 1930px #FFF , 778px 2048px #FFF , 2226px 326px #FFF , 1156px 2052px #FFF , 836px 1901px #FFF , 1682px 924px #FFF , 2434px 669px #FFF , 1597px 2411px #FFF , 1876px 291px #FFF , 150px 496px #FFF , 436px 2132px #FFF , 131px 2299px #FFF , 2476px 2112px #FFF , 1289px 1294px #FFF , 1979px 2152px #FFF , 1975px 1133px #FFF , 1569px 2306px #FFF , 407px 116px #FFF , 214px 2123px #FFF , 733px 2029px #FFF , 1467px 884px #FFF , 462px 1188px #FFF , 1536px 219px #FFF , 2435px 2410px #FFF , 1713px 250px #FFF , 478px 731px #FFF , 1233px 471px #FFF , 239px 1119px #FFF , 2444px 263px #FFF , 115px 2371px #FFF , 561px 1814px #FFF , 151px 2131px #FFF , 2057px 1318px #FFF , 252px 578px #FFF , 1646px 1285px #FFF , 990px 468px #FFF , 1210px 1996px #FFF , 1126px 2155px #FFF , 827px 2091px #FFF , 1947px 2045px #FFF , 1392px 2173px #FFF , 19px 2473px #FFF , 699px 279px #FFF , 1940px 12px #FFF , 191px 1891px #FFF , 1467px 618px #FFF , 802px 419px #FFF , 496px 2092px #FFF , 14px 982px #FFF , 1763px 1205px #FFF , 1265px 2296px #FFF , 1086px 2322px #FFF , 40px 2032px #FFF , 27px 810px #FFF , 1803px 506px #FFF , 1686px 729px #FFF , 900px 1217px #FFF , 1536px 443px #FFF , 852px 1965px #FFF , 185px 1084px #FFF , 374px 1583px #FFF , 2182px 1582px #FFF , 638px 262px #FFF , 1224px 1550px #FFF , 209px 525px #FFF , 686px 196px #FFF , 894px 439px #FFF , 1323px 662px #FFF , 719px 395px #FFF , 721px 1154px #FFF , 2477px 1863px #FFF , 661px 2330px #FFF , 2041px 255px #FFF , 1521px 1960px #FFF , 5px 172px #FFF , 1964px 1506px #FFF , 2117px 1604px #FFF , 321px 498px #FFF , 342px 1504px #FFF , 66px 1226px #FFF , 2290px 519px #FFF , 1912px 631px #FFF , 311px 1577px #FFF , 505px 1112px #FFF , 1792px 1497px #FFF , 862px 2398px #FFF , 351px 1513px #FFF , 2443px 395px #FFF , 2157px 1588px #FFF , 470px 1217px #FFF , 1484px 2218px #FFF , 1138px 1049px #FFF , 1882px 1911px #FFF , 2022px 620px #FFF , 1772px 1650px #FFF , 931px 1805px #FFF , 2097px 2048px #FFF , 283px 2004px #FFF , 1820px 1725px #FFF , 996px 380px #FFF , 129px 1803px #FFF , 84px 2149px #FFF , 106px 121px #FFF , 360px 1221px #FFF , 1298px 426px #FFF , 1587px 708px #FFF , 686px 1724px #FFF , 2167px 1295px #FFF , 9px 2086px #FFF , 2090px 905px #FFF , 1088px 1784px #FFF , 1945px 1817px #FFF , 1755px 1064px #FFF , 2375px 1369px #FFF , 1568px 113px #FFF , 2424px 2263px #FFF , 1589px 1142px #FFF , 1921px 2267px #FFF , 234px 1159px #FFF , 1449px 512px #FFF , 845px 460px #FFF , 907px 1342px #FFF , 1575px 1651px #FFF , 1392px 574px #FFF , 1721px 2216px #FFF , 2272px 1773px #FFF , 1971px 1466px #FFF , 2423px 136px #FFF , 1489px 1539px #FFF , 338px 1333px #FFF , 752px 2399px #FFF , 719px 1444px #FFF , 1805px 910px #FFF , 1235px 2399px #FFF , 1243px 2452px #FFF , 1908px 1405px #FFF , 1359px 901px #FFF , 71px 1643px #FFF , 1175px 894px #FFF , 1372px 510px #FFF , 1239px 299px #FFF , 118px 1625px #FFF , 1690px 149px #FFF , 2470px 2377px #FFF , 550px 767px #FFF , 1606px 1145px #FFF , 137px 1716px #FFF , 40px 2253px #FFF , 304px 1298px #FFF , 1746px 939px #FFF , 924px 997px #FFF , 1718px 512px #FFF , 833px 226px #FFF , 539px 817px #FFF , 787px 1571px #FFF , 972px 1237px #FFF , 1414px 665px #FFF , 1321px 235px #FFF , 791px 2347px #FFF , 1610px 161px #FFF , 64px 2111px #FFF , 43px 1241px #FFF , 1053px 2312px #FFF , 249px 1751px #FFF , 802px 2442px #FFF , 1468px 28px #FFF , 73px 1232px #FFF , 2222px 1702px #FFF , 1305px 691px #FFF , 1781px 1446px #FFF , 777px 148px #FFF , 398px 1828px #FFF , 662px 1173px #FFF , 1330px 1184px #FFF , 10px 157px #FFF , 657px 1750px #FFF , 2388px 319px #FFF , 714px 1616px #FFF , 1164px 1433px #FFF , 510px 1365px #FFF , 2137px 15px #FFF , 1685px 1702px #FFF , 1427px 578px #FFF , 1314px 1359px #FFF , 1357px 1034px #FFF , 2079px 1573px #FFF , 1862px 1992px #FFF , 1270px 459px #FFF , 1206px 550px #FFF , 2387px 1152px #FFF , 585px 2454px #FFF , 1199px 380px #FFF , 402px 1187px #FFF , 599px 1592px #FFF , 2416px 1505px #FFF , 212px 2383px #FFF , 2386px 1142px #FFF , 138px 2173px #FFF , 1395px 268px #FFF , 812px 1820px #FFF , 2132px 982px #FFF , 195px 617px #FFF , 2155px 1190px #FFF , 419px 754px #FFF , 1164px 1351px #FFF , 1473px 9px #FFF , 2471px 227px #FFF , 2409px 352px #FFF , 754px 1383px #FFF , 1474px 2245px #FFF , 594px 94px #FFF , 2296px 1761px #FFF , 1099px 2066px #FFF , 863px 780px #FFF , 2299px 917px #FFF , 754px 290px #FFF , 2417px 1967px #FFF , 2420px 463px #FFF , 2149px 339px #FFF , 1766px 625px #FFF , 1629px 557px #FFF , 979px 175px #FFF , 482px 1794px #FFF , 2179px 1465px #FFF , 267px 2082px #FFF , 1986px 2295px #FFF , 323px 1876px #FFF , 417px 2286px #FFF , 213px 1856px #FFF , 1612px 927px #FFF , 84px 1542px #FFF , 1030px 385px #FFF , 2004px 1253px #FFF , 2231px 1941px #FFF , 803px 2447px #FFF , 149px 2354px #FFF , 2221px 580px #FFF , 32px 764px #FFF , 2343px 2498px #FFF , 1425px 502px #FFF , 1946px 1358px #FFF , 1373px 1398px #FFF , 2329px 970px #FFF , 691px 1628px #FFF , 2292px 1548px #FFF , 524px 1352px #FFF , 1534px 1858px #FFF , 1899px 1384px #FFF , 772px 267px #FFF , 1272px 1431px #FFF , 82px 1579px #FFF , 1539px 2446px #FFF , 749px 2370px #FFF , 1244px 2317px #FFF , 1373px 2457px #FFF , 643px 1042px #FFF , 2099px 1914px #FFF , 1422px 627px #FFF , 776px 1684px #FFF , 1622px 1250px #FFF , 1269px 708px #FFF , 820px 849px #FFF , 1860px 2362px #FFF , 1808px 1860px #FFF;
  -webkit-animation: animStar 50s infinite linear;
  -moz-animation: animStar 50s infinite linear;
  animation: animStar 50s infinite linear;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1024px 2186px #FFF , 1594px 731px #FFF , 307px 989px #FFF , 39px 2174px #FFF , 218px 1294px #FFF , 1140px 689px #FFF , 2297px 83px #FFF , 1199px 1096px #FFF , 1551px 1135px #FFF , 834px 1137px #FFF , 1070px 1367px #FFF , 136px 1315px #FFF , 2197px 851px #FFF , 1875px 951px #FFF , 611px 814px #FFF , 1089px 274px #FFF , 406px 664px #FFF , 88px 927px #FFF , 371px 2404px #FFF , 1004px 1441px #FFF , 2279px 1579px #FFF , 507px 648px #FFF , 1505px 1026px #FFF , 1792px 1918px #FFF , 1960px 293px #FFF , 794px 1724px #FFF , 1745px 17px #FFF , 1848px 126px #FFF , 2443px 990px #FFF , 2194px 2442px #FFF , 2483px 822px #FFF , 1989px 1710px #FFF , 379px 2345px #FFF , 102px 2450px #FFF , 342px 2177px #FFF , 333px 2083px #FFF , 1578px 1012px #FFF , 1879px 2357px #FFF , 2287px 1437px #FFF , 2483px 1047px #FFF , 422px 455px #FFF , 447px 50px #FFF , 151px 61px #FFF , 1663px 2040px #FFF , 567px 494px #FFF , 179px 739px #FFF , 809px 975px #FFF , 972px 1653px #FFF , 2120px 1259px #FFF , 1024px 2475px #FFF , 69px 1096px #FFF , 1757px 1759px #FFF , 2267px 1081px #FFF , 456px 1192px #FFF , 1663px 582px #FFF , 755px 784px #FFF , 733px 933px #FFF , 437px 601px #FFF , 1935px 3px #FFF , 2499px 433px #FFF , 1850px 890px #FFF , 797px 1557px #FFF , 352px 2025px #FFF , 1390px 57px #FFF , 1051px 1512px #FFF , 2359px 1549px #FFF , 395px 30px #FFF , 2276px 140px #FFF , 1263px 652px #FFF , 2039px 886px #FFF , 2494px 710px #FFF , 1397px 60px #FFF , 1421px 793px #FFF , 2065px 590px #FFF , 671px 1573px #FFF , 931px 2328px #FFF , 2263px 2130px #FFF , 1218px 819px #FFF , 2265px 1816px #FFF , 994px 103px #FFF , 129px 1184px #FFF , 1342px 1197px #FFF , 52px 67px #FFF , 1617px 1645px #FFF , 2175px 1949px #FFF , 1400px 1325px #FFF , 1098px 340px #FFF , 2401px 2078px #FFF , 1354px 2349px #FFF , 1917px 739px #FFF , 2498px 883px #FFF , 2240px 2415px #FFF , 524px 1070px #FFF , 2269px 953px #FFF , 368px 1357px #FFF , 1557px 1638px #FFF , 953px 1134px #FFF , 1398px 1751px #FFF , 984px 1215px #FFF , 1858px 73px #FFF , 1863px 498px #FFF , 663px 614px #FFF , 443px 67px #FFF , 2059px 1397px #FFF , 886px 1107px #FFF , 2288px 560px #FFF , 1359px 752px #FFF , 1343px 503px #FFF , 1700px 422px #FFF , 1738px 1910px #FFF , 136px 1942px #FFF , 1903px 1592px #FFF , 418px 2382px #FFF , 2416px 2374px #FFF , 2262px 991px #FFF , 809px 1929px #FFF , 624px 1453px #FFF , 1833px 2318px #FFF , 962px 2013px #FFF , 1506px 2305px #FFF , 2170px 2169px #FFF , 1248px 2262px #FFF , 1769px 720px #FFF , 1600px 1261px #FFF , 2423px 459px #FFF , 1837px 1128px #FFF , 302px 1805px #FFF , 2218px 480px #FFF , 1487px 947px #FFF , 877px 2176px #FFF , 99px 2198px #FFF , 183px 1594px #FFF , 1528px 921px #FFF , 1045px 171px #FFF , 2436px 270px #FFF , 472px 1118px #FFF , 554px 316px #FFF , 163px 2484px #FFF , 2315px 2385px #FFF , 748px 1324px #FFF , 1007px 1342px #FFF , 1598px 1669px #FFF , 2372px 1446px #FFF , 1305px 763px #FFF , 941px 968px #FFF , 756px 257px #FFF , 2239px 1234px #FFF , 439px 1397px #FFF , 2451px 1211px #FFF , 2112px 1249px #FFF , 2343px 1639px #FFF , 27px 29px #FFF , 1155px 289px #FFF , 320px 616px #FFF , 473px 400px #FFF , 1614px 874px #FFF , 654px 1251px #FFF , 531px 2486px #FFF , 1999px 652px #FFF , 185px 157px #FFF , 520px 877px #FFF , 2484px 15px #FFF , 1824px 1662px #FFF , 57px 1489px #FFF , 950px 518px #FFF , 1607px 1783px #FFF , 1277px 830px #FFF , 1791px 2157px #FFF , 2094px 465px #FFF , 878px 1717px #FFF , 1389px 775px #FFF , 867px 2062px #FFF , 1133px 1079px #FFF , 1703px 752px #FFF , 1923px 2016px #FFF , 2056px 1067px #FFF , 2417px 1221px #FFF , 1298px 1512px #FFF , 370px 855px #FFF , 2009px 226px #FFF , 2179px 782px #FFF , 1765px 1385px #FFF , 574px 2262px #FFF , 2033px 8px #FFF , 1790px 730px #FFF , 77px 268px #FFF , 213px 2299px #FFF , 2302px 45px #FFF , 980px 276px #FFF , 310px 1170px #FFF , 1233px 1578px #FFF , 1016px 1052px #FFF , 1864px 2373px #FFF , 1232px 244px #FFF , 2256px 2268px #FFF , 682px 1646px #FFF , 812px 1720px #FFF , 1610px 320px #FFF , 1143px 1758px #FFF , 759px 1243px #FFF , 2484px 362px #FFF , 1228px 94px #FFF , 807px 854px #FFF , 1988px 1926px #FFF , 1687px 314px #FFF , 1129px 609px #FFF , 2454px 1649px #FFF , 2455px 2113px #FFF , 78px 1341px #FFF , 1966px 1057px #FFF , 844px 2300px #FFF , 703px 1722px #FFF , 651px 2267px #FFF , 624px 1989px #FFF , 1657px 1235px #FFF , 1675px 2419px #FFF , 2110px 1721px #FFF , 240px 1142px #FFF , 1811px 709px #FFF , 504px 1983px #FFF , 144px 2161px #FFF , 604px 1747px #FFF , 1582px 234px #FFF , 2366px 595px #FFF , 2337px 2352px #FFF , 1316px 881px #FFF , 244px 2428px #FFF , 2431px 411px #FFF , 877px 2428px #FFF , 1668px 1560px #FFF , 1472px 142px #FFF , 851px 1366px #FFF , 485px 818px #FFF , 216px 756px #FFF , 597px 722px #FFF , 2476px 840px #FFF , 1530px 746px #FFF , 2465px 1028px #FFF , 1214px 247px #FFF , 305px 570px #FFF , 1079px 2385px #FFF , 2340px 150px #FFF , 2278px 1190px #FFF , 936px 1910px #FFF , 83px 1964px #FFF , 1387px 1977px #FFF , 668px 1508px #FFF , 560px 1695px #FFF , 1615px 1106px #FFF , 1715px 2070px #FFF , 676px 654px #FFF , 2014px 894px #FFF , 1739px 1310px #FFF , 1547px 789px #FFF , 2070px 1725px #FFF , 492px 1317px #FFF , 970px 1957px #FFF , 2248px 2132px #FFF , 1169px 227px #FFF , 2140px 420px #FFF , 1101px 2186px #FFF , 534px 348px #FFF , 1834px 1446px #FFF , 11px 2043px #FFF , 403px 137px #FFF , 2043px 291px #FFF , 1475px 1744px #FFF , 700px 1247px #FFF , 2132px 2245px #FFF , 1556px 665px #FFF , 1285px 471px #FFF , 2462px 1186px #FFF , 320px 207px #FFF , 1021px 1919px #FFF , 808px 1878px #FFF , 1922px 2204px #FFF , 1966px 698px #FFF , 312px 2145px #FFF , 1990px 251px #FFF , 2404px 51px #FFF , 406px 748px #FFF , 2253px 1459px #FFF , 1506px 348px #FFF , 1655px 882px #FFF , 1287px 684px #FFF , 407px 2174px #FFF , 2125px 145px #FFF , 2124px 910px #FFF , 204px 2227px #FFF , 2214px 1423px #FFF , 1032px 2272px #FFF , 713px 2091px #FFF , 400px 739px #FFF , 238px 719px #FFF , 2290px 1816px #FFF , 892px 2052px #FFF , 1697px 2296px #FFF , 1792px 207px #FFF , 2378px 1835px #FFF , 1339px 2094px #FFF , 973px 1138px #FFF , 1726px 1827px #FFF , 540px 1081px #FFF , 458px 1359px #FFF , 351px 2023px #FFF , 1479px 1126px #FFF , 659px 1786px #FFF , 2116px 860px #FFF , 231px 1690px #FFF , 133px 2332px #FFF , 460px 2267px #FFF , 2474px 129px #FFF , 2136px 407px #FFF , 964px 2230px #FFF , 181px 1580px #FFF , 2009px 552px #FFF , 1472px 2370px #FFF , 2277px 1961px #FFF , 860px 468px #FFF , 137px 2308px #FFF , 2442px 2326px #FFF , 1304px 2188px #FFF , 1607px 409px #FFF , 1781px 991px #FFF , 2051px 1276px #FFF , 746px 1303px #FFF , 668px 905px #FFF , 938px 1458px #FFF , 510px 1733px #FFF , 1785px 256px #FFF , 732px 775px #FFF , 497px 1993px #FFF , 1956px 218px #FFF , 1622px 1593px #FFF , 616px 1847px #FFF , 2287px 88px #FFF , 331px 1815px #FFF , 1844px 269px #FFF , 139px 357px #FFF , 2351px 1725px #FFF , 885px 2048px #FFF , 739px 460px #FFF , 2329px 1072px #FFF , 2351px 2107px #FFF , 675px 1955px #FFF , 679px 1935px #FFF , 1386px 579px #FFF , 639px 2400px #FFF , 902px 2207px #FFF , 804px 2372px #FFF , 1755px 2397px #FFF , 2411px 92px #FFF , 1419px 1520px #FFF , 1153px 975px #FFF , 234px 1871px #FFF , 1583px 589px #FFF , 1171px 714px #FFF , 884px 1011px #FFF , 56px 1880px #FFF , 771px 2413px #FFF , 478px 1248px #FFF , 2086px 1595px #FFF , 1089px 2008px #FFF , 1812px 2177px #FFF , 1289px 1196px #FFF , 1235px 937px #FFF , 1674px 74px #FFF , 1973px 693px #FFF , 1835px 1149px #FFF , 589px 1783px #FFF , 2248px 1738px #FFF , 2169px 264px #FFF , 1226px 2341px #FFF , 734px 671px #FFF , 366px 215px #FFF , 302px 801px #FFF , 466px 738px #FFF , 1819px 575px #FFF , 2393px 2262px #FFF , 1598px 2137px #FFF , 1284px 2145px #FFF , 2196px 929px #FFF , 2072px 1030px #FFF , 2161px 1476px #FFF , 428px 1430px #FFF , 1989px 1576px #FFF , 672px 2233px #FFF , 116px 1132px #FFF , 1799px 2060px #FFF , 969px 1747px #FFF , 1929px 129px #FFF , 1526px 703px #FFF , 1862px 457px #FFF , 1785px 551px #FFF , 2362px 846px #FFF , 294px 1878px #FFF , 2260px 698px #FFF , 1841px 1178px #FFF , 1734px 121px #FFF , 467px 395px #FFF , 1996px 1658px #FFF , 1044px 1650px #FFF , 638px 1156px #FFF , 1797px 2445px #FFF , 919px 2098px #FFF , 1965px 560px #FFF , 2073px 2422px #FFF , 1211px 1417px #FFF , 884px 2046px #FFF , 666px 651px #FFF , 954px 653px #FFF , 2241px 175px #FFF , 984px 2314px #FFF , 1595px 1235px #FFF , 947px 1627px #FFF , 831px 2007px #FFF , 561px 628px #FFF , 2423px 2004px #FFF , 1472px 871px #FFF , 765px 34px #FFF , 657px 2279px #FFF , 1759px 1688px #FFF , 1140px 1575px #FFF , 1520px 1562px #FFF , 1966px 845px #FFF , 955px 2021px #FFF , 1212px 2479px #FFF , 2091px 2350px #FFF , 2438px 1478px #FFF , 1655px 368px #FFF , 2281px 2481px #FFF , 2356px 1742px #FFF , 832px 1860px #FFF , 1402px 268px #FFF , 311px 214px #FFF , 2056px 1736px #FFF , 1447px 1930px #FFF , 778px 2048px #FFF , 2226px 326px #FFF , 1156px 2052px #FFF , 836px 1901px #FFF , 1682px 924px #FFF , 2434px 669px #FFF , 1597px 2411px #FFF , 1876px 291px #FFF , 150px 496px #FFF , 436px 2132px #FFF , 131px 2299px #FFF , 2476px 2112px #FFF , 1289px 1294px #FFF , 1979px 2152px #FFF , 1975px 1133px #FFF , 1569px 2306px #FFF , 407px 116px #FFF , 214px 2123px #FFF , 733px 2029px #FFF , 1467px 884px #FFF , 462px 1188px #FFF , 1536px 219px #FFF , 2435px 2410px #FFF , 1713px 250px #FFF , 478px 731px #FFF , 1233px 471px #FFF , 239px 1119px #FFF , 2444px 263px #FFF , 115px 2371px #FFF , 561px 1814px #FFF , 151px 2131px #FFF , 2057px 1318px #FFF , 252px 578px #FFF , 1646px 1285px #FFF , 990px 468px #FFF , 1210px 1996px #FFF , 1126px 2155px #FFF , 827px 2091px #FFF , 1947px 2045px #FFF , 1392px 2173px #FFF , 19px 2473px #FFF , 699px 279px #FFF , 1940px 12px #FFF , 191px 1891px #FFF , 1467px 618px #FFF , 802px 419px #FFF , 496px 2092px #FFF , 14px 982px #FFF , 1763px 1205px #FFF , 1265px 2296px #FFF , 1086px 2322px #FFF , 40px 2032px #FFF , 27px 810px #FFF , 1803px 506px #FFF , 1686px 729px #FFF , 900px 1217px #FFF , 1536px 443px #FFF , 852px 1965px #FFF , 185px 1084px #FFF , 374px 1583px #FFF , 2182px 1582px #FFF , 638px 262px #FFF , 1224px 1550px #FFF , 209px 525px #FFF , 686px 196px #FFF , 894px 439px #FFF , 1323px 662px #FFF , 719px 395px #FFF , 721px 1154px #FFF , 2477px 1863px #FFF , 661px 2330px #FFF , 2041px 255px #FFF , 1521px 1960px #FFF , 5px 172px #FFF , 1964px 1506px #FFF , 2117px 1604px #FFF , 321px 498px #FFF , 342px 1504px #FFF , 66px 1226px #FFF , 2290px 519px #FFF , 1912px 631px #FFF , 311px 1577px #FFF , 505px 1112px #FFF , 1792px 1497px #FFF , 862px 2398px #FFF , 351px 1513px #FFF , 2443px 395px #FFF , 2157px 1588px #FFF , 470px 1217px #FFF , 1484px 2218px #FFF , 1138px 1049px #FFF , 1882px 1911px #FFF , 2022px 620px #FFF , 1772px 1650px #FFF , 931px 1805px #FFF , 2097px 2048px #FFF , 283px 2004px #FFF , 1820px 1725px #FFF , 996px 380px #FFF , 129px 1803px #FFF , 84px 2149px #FFF , 106px 121px #FFF , 360px 1221px #FFF , 1298px 426px #FFF , 1587px 708px #FFF , 686px 1724px #FFF , 2167px 1295px #FFF , 9px 2086px #FFF , 2090px 905px #FFF , 1088px 1784px #FFF , 1945px 1817px #FFF , 1755px 1064px #FFF , 2375px 1369px #FFF , 1568px 113px #FFF , 2424px 2263px #FFF , 1589px 1142px #FFF , 1921px 2267px #FFF , 234px 1159px #FFF , 1449px 512px #FFF , 845px 460px #FFF , 907px 1342px #FFF , 1575px 1651px #FFF , 1392px 574px #FFF , 1721px 2216px #FFF , 2272px 1773px #FFF , 1971px 1466px #FFF , 2423px 136px #FFF , 1489px 1539px #FFF , 338px 1333px #FFF , 752px 2399px #FFF , 719px 1444px #FFF , 1805px 910px #FFF , 1235px 2399px #FFF , 1243px 2452px #FFF , 1908px 1405px #FFF , 1359px 901px #FFF , 71px 1643px #FFF , 1175px 894px #FFF , 1372px 510px #FFF , 1239px 299px #FFF , 118px 1625px #FFF , 1690px 149px #FFF , 2470px 2377px #FFF , 550px 767px #FFF , 1606px 1145px #FFF , 137px 1716px #FFF , 40px 2253px #FFF , 304px 1298px #FFF , 1746px 939px #FFF , 924px 997px #FFF , 1718px 512px #FFF , 833px 226px #FFF , 539px 817px #FFF , 787px 1571px #FFF , 972px 1237px #FFF , 1414px 665px #FFF , 1321px 235px #FFF , 791px 2347px #FFF , 1610px 161px #FFF , 64px 2111px #FFF , 43px 1241px #FFF , 1053px 2312px #FFF , 249px 1751px #FFF , 802px 2442px #FFF , 1468px 28px #FFF , 73px 1232px #FFF , 2222px 1702px #FFF , 1305px 691px #FFF , 1781px 1446px #FFF , 777px 148px #FFF , 398px 1828px #FFF , 662px 1173px #FFF , 1330px 1184px #FFF , 10px 157px #FFF , 657px 1750px #FFF , 2388px 319px #FFF , 714px 1616px #FFF , 1164px 1433px #FFF , 510px 1365px #FFF , 2137px 15px #FFF , 1685px 1702px #FFF , 1427px 578px #FFF , 1314px 1359px #FFF , 1357px 1034px #FFF , 2079px 1573px #FFF , 1862px 1992px #FFF , 1270px 459px #FFF , 1206px 550px #FFF , 2387px 1152px #FFF , 585px 2454px #FFF , 1199px 380px #FFF , 402px 1187px #FFF , 599px 1592px #FFF , 2416px 1505px #FFF , 212px 2383px #FFF , 2386px 1142px #FFF , 138px 2173px #FFF , 1395px 268px #FFF , 812px 1820px #FFF , 2132px 982px #FFF , 195px 617px #FFF , 2155px 1190px #FFF , 419px 754px #FFF , 1164px 1351px #FFF , 1473px 9px #FFF , 2471px 227px #FFF , 2409px 352px #FFF , 754px 1383px #FFF , 1474px 2245px #FFF , 594px 94px #FFF , 2296px 1761px #FFF , 1099px 2066px #FFF , 863px 780px #FFF , 2299px 917px #FFF , 754px 290px #FFF , 2417px 1967px #FFF , 2420px 463px #FFF , 2149px 339px #FFF , 1766px 625px #FFF , 1629px 557px #FFF , 979px 175px #FFF , 482px 1794px #FFF , 2179px 1465px #FFF , 267px 2082px #FFF , 1986px 2295px #FFF , 323px 1876px #FFF , 417px 2286px #FFF , 213px 1856px #FFF , 1612px 927px #FFF , 84px 1542px #FFF , 1030px 385px #FFF , 2004px 1253px #FFF , 2231px 1941px #FFF , 803px 2447px #FFF , 149px 2354px #FFF , 2221px 580px #FFF , 32px 764px #FFF , 2343px 2498px #FFF , 1425px 502px #FFF , 1946px 1358px #FFF , 1373px 1398px #FFF , 2329px 970px #FFF , 691px 1628px #FFF , 2292px 1548px #FFF , 524px 1352px #FFF , 1534px 1858px #FFF , 1899px 1384px #FFF , 772px 267px #FFF , 1272px 1431px #FFF , 82px 1579px #FFF , 1539px 2446px #FFF , 749px 2370px #FFF , 1244px 2317px #FFF , 1373px 2457px #FFF , 643px 1042px #FFF , 2099px 1914px #FFF , 1422px 627px #FFF , 776px 1684px #FFF , 1622px 1250px #FFF , 1269px 708px #FFF , 820px 849px #FFF , 1860px 2362px #FFF , 1808px 1860px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  margin-left: 25%;
  background: transparent;
  box-shadow: 325px 1587px #FFF , 1582px 1857px #FFF , 214px 1942px #FFF , 691px 440px #FFF , 1110px 382px #FFF , 1612px 593px #FFF , 463px 1834px #FFF , 585px 1164px #FFF , 16px 534px #FFF , 1158px 837px #FFF , 225px 994px #FFF , 83px 1293px #FFF , 45px 66px #FFF , 1988px 1464px #FFF , 404px 1285px #FFF , 2291px 2123px #FFF , 1571px 715px #FFF , 1911px 99px #FFF , 543px 2395px #FFF , 54px 1849px #FFF , 2395px 562px #FFF , 495px 447px #FFF , 75px 685px #FFF , 1015px 686px #FFF , 2496px 2345px #FFF , 503px 430px #FFF , 82px 2051px #FFF , 1380px 2171px #FFF , 996px 1440px #FFF , 1783px 629px #FFF , 1672px 695px #FFF , 468px 1553px #FFF , 1024px 212px #FFF , 1043px 1312px #FFF , 277px 750px #FFF , 1607px 927px #FFF , 2102px 1076px #FFF , 2201px 71px #FFF , 614px 1951px #FFF , 507px 41px #FFF , 949px 2107px #FFF , 389px 1118px #FFF , 722px 753px #FFF , 1999px 1736px #FFF , 2291px 2108px #FFF , 235px 2262px #FFF , 956px 441px #FFF , 7px 1008px #FFF , 321px 2078px #FFF , 546px 1030px #FFF , 2141px 1986px #FFF , 2136px 2342px #FFF , 734px 901px #FFF , 94px 2096px #FFF , 1492px 1549px #FFF , 53px 834px #FFF , 1805px 1321px #FFF , 469px 1913px #FFF , 1606px 1200px #FFF , 1666px 377px #FFF , 1938px 376px #FFF , 1464px 124px #FFF , 1664px 2301px #FFF , 1317px 1400px #FFF , 2257px 1594px #FFF , 1271px 1203px #FFF , 398px 475px #FFF , 2243px 2435px #FFF , 1814px 1304px #FFF , 617px 752px #FFF , 11px 1515px #FFF , 1330px 754px #FFF , 447px 2496px #FFF , 840px 761px #FFF , 318px 1291px #FFF , 1134px 1610px #FFF , 308px 756px #FFF , 79px 1502px #FFF , 2215px 524px #FFF , 711px 1853px #FFF , 235px 140px #FFF , 2454px 1630px #FFF , 1862px 1561px #FFF , 1917px 2123px #FFF , 1163px 792px #FFF , 1936px 1794px #FFF , 786px 2427px #FFF , 700px 86px #FFF , 274px 1046px #FFF , 834px 1002px #FFF , 691px 2053px #FFF , 2425px 499px #FFF , 1736px 1968px #FFF , 397px 1785px #FFF , 253px 2408px #FFF , 2334px 881px #FFF , 150px 1802px #FFF , 1291px 2143px #FFF , 771px 780px #FFF , 654px 2426px #FFF , 836px 820px #FFF , 4px 2466px #FFF , 1005px 948px #FFF , 2389px 501px #FFF , 2296px 479px #FFF , 1950px 2248px #FFF , 2314px 1962px #FFF , 1385px 1277px #FFF , 1333px 2073px #FFF , 341px 1259px #FFF , 1301px 380px #FFF , 1531px 2217px #FFF , 2495px 240px #FFF , 677px 925px #FFF , 1640px 1947px #FFF , 1973px 663px #FFF , 1250px 1784px #FFF , 1327px 1821px #FFF , 1843px 691px #FFF , 1390px 2423px #FFF , 685px 2026px #FFF , 227px 184px #FFF , 1906px 1019px #FFF , 754px 1783px #FFF , 674px 2332px #FFF , 472px 295px #FFF , 2301px 1px #FFF , 1722px 1581px #FFF , 2230px 1555px #FFF , 251px 304px #FFF , 994px 1172px #FFF , 452px 2466px #FFF , 1084px 636px #FFF , 696px 2041px #FFF , 1032px 2003px #FFF , 137px 1391px #FFF , 781px 2134px #FFF , 1883px 1089px #FFF , 2435px 1404px #FFF , 2398px 61px #FFF , 178px 2356px #FFF , 2259px 133px #FFF , 208px 745px #FFF , 368px 2135px #FFF , 1060px 737px #FFF , 1262px 1410px #FFF , 769px 979px #FFF , 113px 898px #FFF , 987px 1760px #FFF , 527px 303px #FFF , 178px 54px #FFF , 2069px 2167px #FFF , 1061px 457px #FFF , 1234px 1401px #FFF , 882px 1174px #FFF , 1601px 1769px #FFF , 165px 2433px #FFF , 1190px 66px #FFF , 2270px 2232px #FFF , 2395px 677px #FFF , 215px 623px #FFF , 1687px 2423px #FFF , 653px 1613px #FFF , 2438px 2196px #FFF , 1666px 1716px #FFF , 2103px 2476px #FFF , 1525px 186px #FFF , 2211px 2181px #FFF , 767px 1184px #FFF , 2397px 1776px #FFF , 2438px 223px #FFF , 2159px 2122px #FFF , 1992px 432px #FFF , 1608px 1167px #FFF , 2045px 338px #FFF , 494px 1722px #FFF , 2402px 1426px #FFF , 528px 777px #FFF , 1212px 2447px #FFF , 1825px 2171px #FFF , 2305px 2481px #FFF , 141px 1534px #FFF , 1794px 201px #FFF , 178px 872px #FFF , 1205px 739px #FFF , 1410px 656px #FFF , 1916px 978px #FFF , 1166px 1913px #FFF , 1939px 2103px #FFF , 873px 1233px #FFF , 1018px 1910px #FFF , 1266px 635px #FFF , 226px 806px #FFF , 2130px 1205px #FFF , 1347px 521px #FFF , 670px 779px #FFF , 81px 2357px #FFF , 327px 1605px #FFF , 2413px 2356px #FFF , 1290px 200px #FFF;
  -webkit-animation: animStar 100s infinite linear;
  -moz-animation: animStar 100s infinite linear;
  animation: animStar 100s infinite linear;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 325px 1587px #FFF , 1582px 1857px #FFF , 214px 1942px #FFF , 691px 440px #FFF , 1110px 382px #FFF , 1612px 593px #FFF , 463px 1834px #FFF , 585px 1164px #FFF , 16px 534px #FFF , 1158px 837px #FFF , 225px 994px #FFF , 83px 1293px #FFF , 45px 66px #FFF , 1988px 1464px #FFF , 404px 1285px #FFF , 2291px 2123px #FFF , 1571px 715px #FFF , 1911px 99px #FFF , 543px 2395px #FFF , 54px 1849px #FFF , 2395px 562px #FFF , 495px 447px #FFF , 75px 685px #FFF , 1015px 686px #FFF , 2496px 2345px #FFF , 503px 430px #FFF , 82px 2051px #FFF , 1380px 2171px #FFF , 996px 1440px #FFF , 1783px 629px #FFF , 1672px 695px #FFF , 468px 1553px #FFF , 1024px 212px #FFF , 1043px 1312px #FFF , 277px 750px #FFF , 1607px 927px #FFF , 2102px 1076px #FFF , 2201px 71px #FFF , 614px 1951px #FFF , 507px 41px #FFF , 949px 2107px #FFF , 389px 1118px #FFF , 722px 753px #FFF , 1999px 1736px #FFF , 2291px 2108px #FFF , 235px 2262px #FFF , 956px 441px #FFF , 7px 1008px #FFF , 321px 2078px #FFF , 546px 1030px #FFF , 2141px 1986px #FFF , 2136px 2342px #FFF , 734px 901px #FFF , 94px 2096px #FFF , 1492px 1549px #FFF , 53px 834px #FFF , 1805px 1321px #FFF , 469px 1913px #FFF , 1606px 1200px #FFF , 1666px 377px #FFF , 1938px 376px #FFF , 1464px 124px #FFF , 1664px 2301px #FFF , 1317px 1400px #FFF , 2257px 1594px #FFF , 1271px 1203px #FFF , 398px 475px #FFF , 2243px 2435px #FFF , 1814px 1304px #FFF , 617px 752px #FFF , 11px 1515px #FFF , 1330px 754px #FFF , 447px 2496px #FFF , 840px 761px #FFF , 318px 1291px #FFF , 1134px 1610px #FFF , 308px 756px #FFF , 79px 1502px #FFF , 2215px 524px #FFF , 711px 1853px #FFF , 235px 140px #FFF , 2454px 1630px #FFF , 1862px 1561px #FFF , 1917px 2123px #FFF , 1163px 792px #FFF , 1936px 1794px #FFF , 786px 2427px #FFF , 700px 86px #FFF , 274px 1046px #FFF , 834px 1002px #FFF , 691px 2053px #FFF , 2425px 499px #FFF , 1736px 1968px #FFF , 397px 1785px #FFF , 253px 2408px #FFF , 2334px 881px #FFF , 150px 1802px #FFF , 1291px 2143px #FFF , 771px 780px #FFF , 654px 2426px #FFF , 836px 820px #FFF , 4px 2466px #FFF , 1005px 948px #FFF , 2389px 501px #FFF , 2296px 479px #FFF , 1950px 2248px #FFF , 2314px 1962px #FFF , 1385px 1277px #FFF , 1333px 2073px #FFF , 341px 1259px #FFF , 1301px 380px #FFF , 1531px 2217px #FFF , 2495px 240px #FFF , 677px 925px #FFF , 1640px 1947px #FFF , 1973px 663px #FFF , 1250px 1784px #FFF , 1327px 1821px #FFF , 1843px 691px #FFF , 1390px 2423px #FFF , 685px 2026px #FFF , 227px 184px #FFF , 1906px 1019px #FFF , 754px 1783px #FFF , 674px 2332px #FFF , 472px 295px #FFF , 2301px 1px #FFF , 1722px 1581px #FFF , 2230px 1555px #FFF , 251px 304px #FFF , 994px 1172px #FFF , 452px 2466px #FFF , 1084px 636px #FFF , 696px 2041px #FFF , 1032px 2003px #FFF , 137px 1391px #FFF , 781px 2134px #FFF , 1883px 1089px #FFF , 2435px 1404px #FFF , 2398px 61px #FFF , 178px 2356px #FFF , 2259px 133px #FFF , 208px 745px #FFF , 368px 2135px #FFF , 1060px 737px #FFF , 1262px 1410px #FFF , 769px 979px #FFF , 113px 898px #FFF , 987px 1760px #FFF , 527px 303px #FFF , 178px 54px #FFF , 2069px 2167px #FFF , 1061px 457px #FFF , 1234px 1401px #FFF , 882px 1174px #FFF , 1601px 1769px #FFF , 165px 2433px #FFF , 1190px 66px #FFF , 2270px 2232px #FFF , 2395px 677px #FFF , 215px 623px #FFF , 1687px 2423px #FFF , 653px 1613px #FFF , 2438px 2196px #FFF , 1666px 1716px #FFF , 2103px 2476px #FFF , 1525px 186px #FFF , 2211px 2181px #FFF , 767px 1184px #FFF , 2397px 1776px #FFF , 2438px 223px #FFF , 2159px 2122px #FFF , 1992px 432px #FFF , 1608px 1167px #FFF , 2045px 338px #FFF , 494px 1722px #FFF , 2402px 1426px #FFF , 528px 777px #FFF , 1212px 2447px #FFF , 1825px 2171px #FFF , 2305px 2481px #FFF , 141px 1534px #FFF , 1794px 201px #FFF , 178px 872px #FFF , 1205px 739px #FFF , 1410px 656px #FFF , 1916px 978px #FFF , 1166px 1913px #FFF , 1939px 2103px #FFF , 873px 1233px #FFF , 1018px 1910px #FFF , 1266px 635px #FFF , 226px 806px #FFF , 2130px 1205px #FFF , 1347px 521px #FFF , 670px 779px #FFF , 81px 2357px #FFF , 327px 1605px #FFF , 2413px 2356px #FFF , 1290px 200px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  margin-left: 25%;
  background: transparent;
  box-shadow: 2029px 1657px #FFF , 1819px 795px #FFF , 2245px 330px #FFF , 2038px 541px #FFF , 1840px 1521px #FFF , 1385px 1463px #FFF , 1858px 864px #FFF , 584px 1962px #FFF , 2007px 1815px #FFF , 807px 104px #FFF , 804px 253px #FFF , 1629px 1942px #FFF , 1068px 2134px #FFF , 1990px 145px #FFF , 2234px 2290px #FFF , 348px 65px #FFF , 1442px 1235px #FFF , 1069px 1643px #FFF , 426px 1778px #FFF , 820px 828px #FFF , 828px 2256px #FFF , 2193px 1303px #FFF , 1366px 1458px #FFF , 1796px 581px #FFF , 1234px 437px #FFF , 711px 1597px #FFF , 765px 48px #FFF , 2410px 2367px #FFF , 857px 322px #FFF , 1326px 700px #FFF , 2135px 1538px #FFF , 1401px 1519px #FFF , 1657px 840px #FFF , 484px 1675px #FFF , 218px 580px #FFF , 2332px 60px #FFF , 162px 789px #FFF , 74px 2034px #FFF , 471px 130px #FFF , 834px 765px #FFF , 910px 1066px #FFF , 2003px 1055px #FFF , 2284px 1647px #FFF , 444px 2307px #FFF , 2162px 176px #FFF , 101px 1497px #FFF , 2395px 2474px #FFF , 1182px 1174px #FFF , 368px 1702px #FFF , 1881px 898px #FFF , 482px 570px #FFF , 2479px 2281px #FFF , 1080px 186px #FFF , 972px 2110px #FFF , 56px 940px #FFF , 29px 2357px #FFF , 325px 122px #FFF , 311px 842px #FFF , 1509px 2481px #FFF , 1210px 1853px #FFF , 1531px 884px #FFF , 1682px 2492px #FFF , 1836px 407px #FFF , 591px 1626px #FFF , 2104px 1723px #FFF , 2279px 2462px #FFF , 1285px 2416px #FFF , 740px 840px #FFF , 2226px 1908px #FFF , 465px 1330px #FFF , 2036px 2443px #FFF , 918px 1437px #FFF , 219px 1978px #FFF , 1090px 553px #FFF , 1022px 2434px #FFF , 2386px 1545px #FFF , 1723px 2130px #FFF , 2294px 541px #FFF , 622px 763px #FFF , 287px 426px #FFF , 1559px 595px #FFF , 1095px 1497px #FFF , 2227px 525px #FFF , 1642px 2164px #FFF , 2383px 1046px #FFF , 2483px 632px #FFF , 1217px 766px #FFF , 127px 1382px #FFF , 1557px 1895px #FFF , 2112px 1075px #FFF , 1814px 201px #FFF , 1697px 886px #FFF , 1373px 1398px #FFF , 961px 2116px #FFF , 938px 2300px #FFF , 413px 1499px #FFF , 917px 728px #FFF , 2445px 2353px #FFF , 1372px 91px #FFF , 777px 22px #FFF;
  -webkit-animation: animStar 150s infinite linear;
  -moz-animation: animStar 150s infinite linear;
  animation: animStar 150s infinite linear;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 2029px 1657px #FFF , 1819px 795px #FFF , 2245px 330px #FFF , 2038px 541px #FFF , 1840px 1521px #FFF , 1385px 1463px #FFF , 1858px 864px #FFF , 584px 1962px #FFF , 2007px 1815px #FFF , 807px 104px #FFF , 804px 253px #FFF , 1629px 1942px #FFF , 1068px 2134px #FFF , 1990px 145px #FFF , 2234px 2290px #FFF , 348px 65px #FFF , 1442px 1235px #FFF , 1069px 1643px #FFF , 426px 1778px #FFF , 820px 828px #FFF , 828px 2256px #FFF , 2193px 1303px #FFF , 1366px 1458px #FFF , 1796px 581px #FFF , 1234px 437px #FFF , 711px 1597px #FFF , 765px 48px #FFF , 2410px 2367px #FFF , 857px 322px #FFF , 1326px 700px #FFF , 2135px 1538px #FFF , 1401px 1519px #FFF , 1657px 840px #FFF , 484px 1675px #FFF , 218px 580px #FFF , 2332px 60px #FFF , 162px 789px #FFF , 74px 2034px #FFF , 471px 130px #FFF , 834px 765px #FFF , 910px 1066px #FFF , 2003px 1055px #FFF , 2284px 1647px #FFF , 444px 2307px #FFF , 2162px 176px #FFF , 101px 1497px #FFF , 2395px 2474px #FFF , 1182px 1174px #FFF , 368px 1702px #FFF , 1881px 898px #FFF , 482px 570px #FFF , 2479px 2281px #FFF , 1080px 186px #FFF , 972px 2110px #FFF , 56px 940px #FFF , 29px 2357px #FFF , 325px 122px #FFF , 311px 842px #FFF , 1509px 2481px #FFF , 1210px 1853px #FFF , 1531px 884px #FFF , 1682px 2492px #FFF , 1836px 407px #FFF , 591px 1626px #FFF , 2104px 1723px #FFF , 2279px 2462px #FFF , 1285px 2416px #FFF , 740px 840px #FFF , 2226px 1908px #FFF , 465px 1330px #FFF , 2036px 2443px #FFF , 918px 1437px #FFF , 219px 1978px #FFF , 1090px 553px #FFF , 1022px 2434px #FFF , 2386px 1545px #FFF , 1723px 2130px #FFF , 2294px 541px #FFF , 622px 763px #FFF , 287px 426px #FFF , 1559px 595px #FFF , 1095px 1497px #FFF , 2227px 525px #FFF , 1642px 2164px #FFF , 2383px 1046px #FFF , 2483px 632px #FFF , 1217px 766px #FFF , 127px 1382px #FFF , 1557px 1895px #FFF , 2112px 1075px #FFF , 1814px 201px #FFF , 1697px 886px #FFF , 1373px 1398px #FFF , 961px 2116px #FFF , 938px 2300px #FFF , 413px 1499px #FFF , 917px 728px #FFF , 2445px 2353px #FFF , 1372px 91px #FFF , 777px 22px #FFF;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
  }
}
@-moz-keyframes animStar {
  from {
    -moz-transform: translateY(0px);
  }
  to {
    -moz-transform: translateY(-2000px);
  }
}
@keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
.brand-logo {
  position: absolute;
  left: 10%;
  top: 5%;
  max-width: 250px;
}

#left-side {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
#left-side .content {
  position: absolute;
  z-index: 0;
  left: 0;
  padding: 0;
  top: 50vh;
  width: 100%;
  padding: 0 10%;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}

/* ------------------------------------- */
/* 3. More informations ................ */
/* ------------------------------------- */
#right-side {
  background: #f2f3f7;
  position: relative;
  overflow: auto;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  top: 0;
  width: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
#right-side.hide-right {
  -webkit-transform: translate3d(200%, 0, 0);
  -moz-transform: translate3d(200%, 0, 0);
  -o-transform: translate3d(200%, 0, 0);
  -ms-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
}
#right-side .content {
  width: 100%;
  padding: 8% 10% 0;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}
#right-side .content h1, #right-side .content h2, #right-side .content h3, #right-side .content h4, #right-side .content h5, #right-side .content h6 {
  color: #757A86;
}
#right-side .content h3 {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
#right-side .content span.separator {
  display: block;
  height: 2px;
  background: #FFFFFF;
  width: 100%;
  margin: 50px 0 60px;
}
#right-side .content p {
  color: #747c83;
}
#right-side .content .photo-line figure {
  padding: 0;
  margin: 0 15px 30px;
  width: calc(50% - 30px);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background: #000000;
}
#right-side .content .photo-line figure.clear-second {
  clear: both;
}
#right-side .content .photo-line figure a.box-picture {
  overflow: hidden;
  width: 100%;
  display: block;
  position: relative;
}
#right-side .content .photo-line figure a.box-picture p {
  bottom: 50%;
  line-height: 1;
  height: auto;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}
#right-side .content .photo-line figure a.box-picture:hover {
  background: #000000;
}
#right-side .content .photo-line figure a.box-picture:hover img {
  opacity: 0.5;
}
#right-side .content .photo-line figure a.box-picture:hover p {
  opacity: 1;
}
#right-side .content .photo-line figure img {
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#right-side .content .photo-line figure .photo-details {
  background: #FFFFFF;
  padding: 1em;
  text-align: left;
  color: #747c83;
}
#right-side .content .photo-line figure .photo-details h4 {
  font-weight: 800;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  opacity: 1;
  color: #747c83;
}
#right-side .content .photo-line figure .photo-details span.border {
  display: block;
  height: 2px;
  background: #00c8aa;
  width: 10%;
  margin: 0.8em 0 1em;
}
#right-side .content .photo-line figure .photo-details p {
  font-size: 0.9em;
  color: #999999;
  font-weight: 500;
  line-height: 1.2;
}

.widget-angle-top-right {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #00c8aa;
  font-size: 1em;
  border-top: 50px solid #2B2D35;
  border-left: 50px solid transparent;
}
.widget-angle-top-right span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: -47px;
  left: -22px;
}

.widget-angle-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #00c8aa;
  font-size: 1em;
  border-bottom: 50px solid #2B2D35;
  border-left: 50px solid transparent;
}
.widget-angle-bottom-right span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: 23px;
  left: -22px;
}

.widget-angle-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #00c8aa;
  font-size: 1em;
  border-bottom: 50px solid #2B2D35;
  border-right: 50px solid transparent;
}
.widget-angle-bottom-left span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: 23px;
  left: 7px;
}

.widget-angle-top-left {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #00c8aa;
  font-size: 1em;
  border-top: 50px solid #2B2D35;
  border-right: 50px solid transparent;
}
.widget-angle-top-left span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: -47px;
  left: 7px;
}

#close-more-info {
  position: fixed;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  color: #757A86;
  font-size: 2em;
}
#close-more-info:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#close-more-info.hide-close {
  right: -40px;
}

.mCSB_scrollTools {
  /* Scrollbar */
  position: absolute;
  width: 5px;
  height: auto;
  left: auto;
  top: 0;
  right: -5px;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -ms-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 5px;
  height: 100%;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: #757a86;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 5px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-align: center;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #00c8aa;
}

.mCSB_scrollTools-left {
  right: 50% !important;
}

/* ------------------------------------- */
/* 4. Newsletter ....................... */
/* ------------------------------------- */
.dialog,
.dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dialog {
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  pointer-events: none;
}

.dialog__overlay {
  position: absolute;
  z-index: 1;
  background: rgba(31, 34, 46, 0.9);
  opacity: 0;
  transition: opacity 0.3s;
}

.dialog--open .dialog__overlay {
  opacity: 1;
  pointer-events: auto;
}

.dialog__content {
  width: 50%;
  max-width: 500px;
  min-width: 290px;
  background: transparent;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 5;
  opacity: 0;
  overflow: hidden;
  background: url(../img/background-newsletter.jpg) center;
  background-size: cover;
  border: 10px solid #2B2D35;
}
.dialog__content::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 1px solid #00c8aa;
  background: rgba(32, 35, 45, 0.8);
}

.dialog--open .dialog__content {
  pointer-events: auto;
}

.dialog .close-newsletter {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  line-height: 35px;
  color: #FFFFFF;
  font-size: 20px;
  opacity: 0.5;
}
.dialog .close-newsletter:hover {
  opacity: 1;
}
.dialog .dialog-inner {
  padding: 90px 70px;
  overflow: hidden;
}
.dialog .dialog-inner::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.dialog .dialog-inner h4 {
  color: #FFFFFF;
  font-size: 40px;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
}
.dialog .dialog-inner p {
  color: #f2f3f7;
  font-size: 16px;
}

#subscribe p {
  font-weight: 400;
}
#subscribe #notifyMe {
  max-width: 450px;
  margin: auto;
  margin-top: 2em;
}
#subscribe #notifyMe .form-group {
  margin-bottom: 1em;
}
#subscribe #notifyMe .form-group .fa {
  color: #757A86;
  position: absolute;
  text-align: center;
  top: 15px;
  left: 15px;
}
#subscribe #notifyMe .form-group .form-control {
  text-align: center;
  background: #FFFFFF;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
  font-weight: 600;
  outline: medium none;
  padding: 0 1em;
  width: 100%;
  margin: auto;
  color: #000000;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
#subscribe #notifyMe .form-group .form-control:hover, #subscribe #notifyMe .form-group .form-control:focus {
  box-shadow: none;
}
#subscribe #notifyMe .form-group .form-control::-webkit-input-placeholder {
  color: #747c83 !important;
}
#subscribe #notifyMe .form-group .form-control::-moz-placeholder {
  color: #747c83 !important;
}
#subscribe #notifyMe .form-group .form-control:-moz-placeholder {
  color: #747c83 !important;
}
#subscribe #notifyMe .form-group .form-control:-ms-input-placeholder {
  color: #747c83 !important;
}
#subscribe #notifyMe .form-group button.submit {
  border: 2px solid #00c8aa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  background: #00c8aa;
  color: #FFFFFF;
  height: 50px;
  padding: 1em 0;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  width: 70%;
  margin: 20px auto 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
#subscribe #notifyMe .form-group button.submit:hover {
  background: #00af94;
  color: #FFFFFF;
}
#subscribe .block-message {
  min-height: 50px;
  position: absolute;
  bottom: -100px;
  width: 100%;
  left: 0;
  padding: 15px;
  background: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
#subscribe .block-message.show-block-error {
  bottom: 0;
  background: #FF1D4D;
}
#subscribe .block-message.show-block-valid {
  bottom: 0;
  background: #00c8aa;
}
#subscribe p.notify-valid {
  color: #FFFFFF;
  text-transform: none;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
}

.dialog__overlay {
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dialog.dialog--open .dialog__content {
  -webkit-animation-name: anim-open;
  -moz-animation-name: anim-open;
  animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
  -webkit-animation-name: anim-close;
  -moz-animation-name: anim-close;
  animation-name: anim-close;
}

@-webkit-keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes anim-close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
}
@-moz-keyframes anim-close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
}
@keyframes anim-close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
}
/* ------------------------------------- */
/* 5. Contact .......................... */
/* ------------------------------------- */
.info-contact {
  margin-bottom: 30px;
}
.info-contact .item-map {
  padding: 0;
}
.info-contact .item-map:first-child {
  padding-left: 15px;
}
.info-contact .item-map:last-child {
  padding-right: 15px;
}
.info-contact .item-map .contact-item {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}
.info-contact .item-map .contact-item i {
  color: #00c8aa;
  font-size: 2em;
}
.info-contact .item-map .contact-item a {
  font-weight: 600;
  color: #757A86;
}
.info-contact .item-map .contact-item a:hover {
  color: #00c8aa;
}

#contact-form {
  margin-top: 40px;
}
#contact-form .form-control {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: 400;
  outline: medium none;
  height: 40px;
  width: 100%;
  color: #000000;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  text-align: left;
}
#contact-form .form-control:hover, #contact-form .form-control:focus {
  box-shadow: none;
}
#contact-form .form-control::-webkit-input-placeholder {
  color: #747c83 !important;
}
#contact-form .form-control::-moz-placeholder {
  color: #747c83 !important;
}
#contact-form .form-control:-moz-placeholder {
  color: #747c83 !important;
}
#contact-form .form-control:-ms-input-placeholder {
  color: #747c83 !important;
}
#contact-form textarea.form-control {
  min-height: 150px;
}
#contact-form button#valid-form {
  font-weight: 400;
  padding: 1em 2em;
  font-size: 1em;
  display: block;
  margin: 0 auto 0;
  background: #00c8aa;
  color: #FFFFFF;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-weight: 700;
  width: 100%;
  line-height: 10px;
}
#contact-form button#valid-form:hover {
  background: #00af94;
  color: #FFFFFF;
}

#block-answer {
  min-height: 60px;
  margin-top: 1em;
  text-align: center;
  color: #757A86;
}

.success-message, .error-message {
  color: #757A86;
}
.success-message p, .error-message p {
  color: #757A86 !important;
}
.success-message .ion-checkmark-round, .error-message .ion-checkmark-round {
  color: #27AE60;
}

.error-message .ion-close-round {
  color: #FF1D4D;
}

/* ------------------------------------- */
/* 6. Social Icons ..................... */
/* ------------------------------------- */
.social-icons {
  position: absolute;
  left: 10%;
  bottom: 5%;
  margin-left: -22px;
  margin-bottom: -22px;
  display: block;
  z-index: 9;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
}
.social-icons i {
  color: #FFFFFF;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
.social-icons a {
  color: white;
  width: 50px;
  line-height: 50px;
  letter-spacing: 0;
  background: transparent;
  font-size: 1em;
  font-weight: 300;
  height: 50px;
  display: inline-block;
  text-align: center;
  float: left;
  margin-right: 2px;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
.social-icons a:hover {
  color: #00c8aa;
  background: transparent;
}
.social-icons a:hover i {
  color: #00c8aa;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* ------------------------------------- */
/* 7. Footer/Copyright ................. */
/* ------------------------------------- */
footer {
  padding: 10px 0;
  background: transparent;
  text-align: center;
}
footer p {
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #757A86;
}

/* ------------------------------------- */
/* VARIANT CLOUD ....................... */
/* ------------------------------------- */
#cloud-animation {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: fixed;
}
#cloud-animation img {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

@-webkit-keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}
@-moz-keyframes animCloud {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}
@keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
#cloud1 {
  -webkit-animation: animCloud 25s infinite linear;
  -moz-animation: animCloud 25s infinite linear;
  animation: animCloud 25s infinite linear;
}

#cloud2 {
  -webkit-animation: animCloud 35s infinite linear;
  -moz-animation: animCloud 35s infinite linear;
  animation: animCloud 35s infinite linear;
}

#cloud3 {
  -webkit-animation: animCloud 45s infinite linear;
  -moz-animation: animCloud 45s infinite linear;
  animation: animCloud 45s infinite linear;
}

#cloud4 {
  -webkit-animation: animCloud 55s infinite linear;
  -moz-animation: animCloud 55s infinite linear;
  animation: animCloud 55s infinite linear;
}

/* ------------------------------------- */
/* VARIANT YOUTUBE ..................... */
/* ------------------------------------- */
.mbYTP_wrapper {
  width: 100vw !important;
  min-width: 0 !important;
  left: 0 !important;
}

.ytb-overlay {
  background: rgba(32, 35, 45, 0.6);
}

.light-overlay {
  background: rgba(32, 35, 45, 0.5) !important;
}

#player-nav {
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
}
#player-nav li {
  display: inline-block;
  background: rgba(0, 200, 170, 0.4);
  height: 40px;
  width: 40px;
  line-height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}
#player-nav li:hover {
  background: rgba(0, 200, 170, 0.8);
}
#player-nav li:hover a {
  color: #FFFFFF;
}
#player-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

/* ------------------------------------- */
/* GALLERY PHOTOS ...................... */
/* ------------------------------------- */
.pswp__bg {
  background: #20232D;
}

.pswp__caption h4 {
  margin-bottom: 10px !important;
}

/* ------------------------------------- */
/* 8. Media Queries .................... */
/* ------------------------------------- */
/* Large Devices, Wide Screens */
/* Notebook devices */
/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
  .overlay {
    left: 0;
    width: 100%;
    height: 100%;
  }
  .overlay.skew-part {
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }

  #stars, #stars2, #stars3 {
    margin-left: 0 !important;
  }

  .brand-logo {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 25px 0;
  }

  .light-btn {
    padding: 0.7em 0;
    margin-right: 0;
    float: none;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 50%;
  }

  .action-btn {
    padding: 0.7em 0;
    float: none;
    margin: 0 auto;
    max-width: 50%;
  }

  #left-side {
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 0 150px;
  }
  #left-side .content {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: auto;
    text-align: center;
  }

  .social-icons {
    left: 0;
    bottom: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  #right-side {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
    width: 100%;
  }
  #right-side.hide-right {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  #close-more-info {
    display: none;
  }

  .mCSB_scrollTools {
    right: 0;
  }

  .mCSB_scrollTools-left {
    right: 0 !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .light-btn {
    max-width: 70%;
    min-width: 60%;
  }

  .action-btn {
    max-width: 70%;
    min-width: 60%;
  }

  .photo-line figure {
    padding: 0;
    margin: 0 0 20px !important;
    width: 100% !important;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  }

  .info-contact .item-map:first-child {
    padding-left: 0;
  }
  .info-contact .item-map:last-child {
    padding-right: 0;
  }

  .dialog__content {
    width: 80%;
    max-width: 80%;
    min-width: 75%;
  }

  .dialog .dialog-inner {
    padding: 40px 20px 90px;
    overflow: hidden;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #left-side {
    padding: 50px 0 100px;
  }
  #left-side .content {
    padding: 0 3%;
  }
  #left-side.minimal-phone {
    height: 100vh;
  }

  h1.text-intro {
    font-size: 30px;
  }

  h2.text-intro {
    font-size: 18px;
  }

  .light-btn {
    max-width: 80%;
    min-width: 70%;
  }

  .action-btn {
    max-width: 80%;
    min-width: 70%;
  }

  .dialog__content {
    width: 95%;
    max-width: 95%;
    min-width: 75%;
  }

  .dialog .close-newsletter {
    top: 2px;
    right: 5px;
  }
  .dialog .dialog-inner {
    padding: 40px 20px 50px;
  }
  .dialog .dialog-inner h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  #subscribe .block-message {
    padding: 5px 2px;
  }
  #subscribe p.notify-valid {
    font-size: 12px;
  }
}
/* Only for tablet in landscape mode */
/* Only for phone in landscape mode */
@media screen and (max-device-width: 667px) and (orientation: landscape) {
  #left-side {
    padding: 50px 0 100px;
  }

  h1.text-intro {
    font-size: 30px;
  }

  h2.text-intro {
    font-size: 18px;
  }

  .dialog__content {
    width: 100%;
    max-width: 100%;
    min-width: 75%;
  }

  .dialog .close-newsletter {
    top: 2px;
    right: 5px;
  }
  .dialog .dialog-inner {
    padding: 40px 20px 50px;
  }
  .dialog .dialog-inner h4 {
    font-size: 25px;
    margin-bottom: 5px;
  }

  #subscribe #notifyMe {
    margin-top: 10px;
  }
  #subscribe #notifyMe .form-group .form-control {
    width: 70%;
    margin: 0;
    float: left;
  }
  #subscribe #notifyMe .form-group button.submit {
    width: 30%;
    margin: 0;
    float: left;
  }
  #subscribe .block-message {
    padding: 5px 2px;
  }
  #subscribe p.notify-valid {
    font-size: 12px;
  }
}
